@charset "UTF-8";

html {
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans' condensed;
}

/* Home Page */

.container header .head{
  background-color: #25D366;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 5vh;
  padding: 0 30px;
}

.email{
  display: flex;
  align-items: center;
  color: #fff;
}

.container header .head h1, header .head h2{
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.container header .navigation{
  display: flex;
  justify-content: space-between;
  padding: 10px 80px;
  align-items: center;
}

.scrolled{
  background-color: #ffffff;
  top: 0;
  position: fixed;
  transition: all .3s;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 10%);
  width: 100%;
  min-height: 8vh;
}

.container header .navigation img{
  width: 200px;
}

.container header .navigation ul{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.container header .navigation ul li{
  list-style: none;
  font-weight: 600;
}

.container header .navigation ul li:hover{
  color: #25D366;
  cursor: pointer;
}
.i{
  position: fixed;
  left: 85%;
  top: 90%;
  border: 1px solid #262838;
  width: 130px;
  padding: 2px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #262838;
  cursor: pointer;
}

.i h5{
  padding: 0;
  margin: 0;
  color: #fff;
}

.i img{
  width: 30px;
}

.hero-container{
  background: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .5)) , url(./Components/images/hero.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 60px;
  height: 60vh;
}

.hero-container h1{
  color: #25D366;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 0;
  font-weight: 700;
}

.hero-container h2{
  text-align: center;
  color: #ddd;
}

.hero-container .properties{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.hero-container .properties .property{
  margin: 0 20px;
  text-align: center;
}

.hero-container .properties .property img{
  width: 250px;
  height: 200px;
  border-radius: 5px;
}

.hero-container .properties .property h5{
  font-size: 1.1rem;
  font-weight: 500;
  color: #1B1A1A;
}

.hero-container .explore{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}

.hero-container .explore button{
  border: 1px solid #25D366;
  background-color: #25D366;
  padding: 12px 14px;
  color: #fff;
  width: 200px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
}

.hero-container .explore button:hover{
  cursor: pointer;
  background-color: #fff;
  color: #25D366;
  transition: all .3s;
}

.about-container{
  padding: 100px 60px;
  background-color: #1d1d1d;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.about-container .about-content{
  width: 50%;
}

.about-container .about-content h1{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.about-container .about-content ol li{
  padding: 7px 0;
  font-weight: 600;
  font-size: 1rem;
}

.about-container .about-img img{
  width: 550px;
  height: 500px;
  border-radius: 10px;
}

.cta-container{
  padding: 50px 0;
}

.cta-container h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.cta-container ul{
  display: flex;
  background-color: #25D366;
  justify-content: center;
  padding: 40px 0;
}

.cta-container ul li{
  list-style: none;
  margin: 10px 40px;
  text-align: center;
  padding: 10px 0;
}

.cta-container ul li h4{
  color: #111;
  font-size: 2rem;
  font-weight: 700;
}

.cta-container ul li p{
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 10px;
}

.footer-container{
  background-color: #1B1A1A;
}

.footer-container .footer-content{
  display: flex;
  padding: 30px 20px;
  color: #fff;
  justify-content: space-evenly;
  align-items: baseline;
}

.footer-content .footer-centre{
  text-align: left;
}

.footer-content .footer-centre ul{
  padding-left: 0;
  margin-top: 0;
}

.footer-content .footer-centre ul li{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.footer-content .footer-centre ul li img{
  width: 30px;
  margin: 0 10px;
}

.footer-content .footer-bottom ul {
  padding-left: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.footer-container .footer-top img{
  width: 190px;
}

.footer-container .footer-top{
  width: 30%;
}

.footer-container h3{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
  padding: 30px 0;
}

/* Properties Page */

.properties-container{
  margin: 50px 100px;
}

.properties-container h1{
  padding-bottom: 50px;
  font-size: 2.4rem;
  font-weight: 700;
}

.properties-container .available{
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 20px 50px;
  border-radius: 5px;
  margin: 50px 50px;
  box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
}

.properties-container .available:hover{
  cursor: pointer;
  box-shadow: rgba(0,0,0,0.24)0px 3px 8px;
  transition: all .3s;
}

.properties-container .available .property-img{
  width: 50%;
}

.properties-container .available .property-img img{
  width: 350px;
  height: 250px;
}

.properties-container .available .property-content{
  width: 50%;
}

.properties-container .available .property-content h2{
  color: #25D366;
  font-size: 1.5rem;
  font-weight: 600;
}

.properties-container .available .property-content p{
  font-size: 1rem;
  color: #868686;
}

.properties-container .available .property-content ul{
  display: flex;
  justify-content: space-between;
  border: 1px solid #868686;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0 30px;
}

.properties-container .available .property-content ul li{
  list-style: none;
  padding: 0 10px;
  text-align: center;
  color: #1d1d1d;
}

.properties-container .available .property-content ul li h3{
  font-size: 1rem;
  font-weight: 600;
}

.properties-container .available .property-content ul li h4{
  font-size: 1.1rem;
  font-weight: 400;
}

.actualproperty-container{
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.actualproperty{
  display: flex;
  padding: 50px 50px;
}

.actualproperty-content{
  width: 500px;
  padding-left: 100px;
}

.actualproperty-content h2{
  color: #25D366;
}

.actualproperty-content p{
  color: #868686;
}

.actualproperty-img img{
  width: 400px;
  border-radius: 5px;
}

.actualproperty-content ul{
  display: flex;
  justify-content: space-around;
}

.actualproperty-content ul li{
  list-style: none;
}

.actualproperty-content ul li h3{
  font-weight: 400;
}

.actualproperty-content ul li h4{
  font-weight: 700;
  font-size: 1.1rem;
}

.review-images{
  display: flex;
  padding: 20px 0;
}

.review-images img{
  width: 80px;
  border: 5px;
  margin: 0 10px;
  cursor: pointer;
}

/* Contact page */
.contact{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  background-color: #F9F9F9;
  padding-left: 150px;
}

.contact1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.contact form h1, .contact1 form h1{
  padding-bottom: 30px;
  font-weight: 500;
  color: #1d1d1d;
}
.contact .message, .contact1 .message{
  padding-top: 10px;
}
.contact .message textarea, .contact1 .message textarea{
  width: 585px;
  border: 1px solid #ddd;
  height: 200px;
  padding: 10px 10px;
  outline: none;
  font-family: 'Open Sans' Condensed;
  font-size: 1.1rem;
}
.contact form .contact-first input[type='text'],.contact1 form .contact-first input[type='text']{
  padding: 10px 10px;
  outline: none;
  font-family: 'Open Sans' Condensed;
  border: 1px solid #ddd;
  font-size: 1rem;
  margin-right: 5px;
  width: 280px;
}
.contact form input[type='submit'], .contact1 form input[type='submit']{
  float: right;
  margin-top: 10px;
  padding: 10px 35px;
  background-color: white;
  color: crimson;
  outline: none;
  border: 1px solid #ddd;
  cursor: pointer;
  font-family: 'Open Sans' Condensed;
  font-weight: 700;
}
.contact form input[type='submit']:hover, .contact1 form input[type='submit']:hover{
  color: white;
  background-color: crimson;
  border: 1px solid crimson;
  transition: .3s;
}
.contact .contact__dets{
  margin-left: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact__dets ul li{
  list-style: none;
  display: flex;
  align-items: center;
}
.contact .contact__dets ul li .dets{
  margin-left: 20px;
}

.contact .contact__dets ul li .dets h3{
  font-family: 'Open Sans' Condensed;
  font-weight: 600;
  font-size: 1.1rem;
  color: #1d1d1d;
  padding-bottom: 5px;
}
.contact .contact__dets ul li .dets h3{
  font-family: 'Open Sans' Condensed;
  font-size: 1.1rem;
  color: #1d1d1d;
}

/* Blog */
.blog-container{
  padding: 40px 0;
  position: relative;
  background-color: #F9F9F9;
}

.blog-container h1{
  font-size: 2.3rem;
  font-weight: 700;
  color: #1d1d1d;
  margin-bottom: 70px;
  text-align: center;
}

.blog-samples{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-samples .blog{
  margin: 20px 15px;
  display: flex;
}

.blog .blog-content h2{
  font-size: .9rem;
  font-weight: 200;
  color: #888;
  margin: 0;
  padding: 0;
}

.blog .blog-content h3{
  font-size: 1.1rem;
  color: #111;
  font-weight: 800;
}

.blog .blog-content h5{
  margin-top: 0;
  color: #555;
  font-weight: 400;
  font-size: 1rem;
}

.blog .blog-content h3:hover{
  text-decoration: underline;
  cursor: pointer;
}

.blog .blog-content h4{
  text-align: right;
  font-size: 1rem;
  text-decoration: underline;
  font-weight: 400;
  color: #1d1d1d;
}

.blog .blog-content h4:hover{
  cursor: pointer;
  color: #3367d6;
}

.blog-samples .blog img{
  border-radius: 5px;
  width: 220px;
  height: 180px;
  margin-right: 40px;
}

.blog-content{
  width: 570px;
  list-style: none;
}

.blog-content h1{
  font-size: 1.1rem;
}

.blog-content h2{
  color: #262838;
  font-size: 2.3rem;
  font-weight: 700;
  padding: 10px 0;
}

.blog-content p{
  text-align: left;
  color: #868686;
  font-size: 1.1rem;
  padding-bottom: 15px;
}

/* Blog Post */

.blogpost-container{
  padding: 20px 300px;
}

.blogpost h1{
  text-align: center;
  color: #1d1d1d;
  font-size: 2rem;
  font-weight: 800;
}

.blogpost img{
  width: 800px;
  height: 400px;
  margin-bottom: 20px;
}

.blogpost p{
  color: #555;
  font-size: 1.1rem;
  font-weight: 500;
}

/* About section */

.about-section-container{
  padding: 30px 0;
  background-color: #F9F9F9;
}

.about-section-container .about-section{
  padding: 0 80px;
}

.about-section-container .about-section h1{
  font-size: 2rem;
  font-weight: 700;
  color: #1d1d1d;
  text-align: center;
  padding-bottom: 30px;
}

.company{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-ceo{
  width: 800px;
  margin-bottom: 30px;
}

.company-director{
  padding-bottom: 30px;
  width: 800px;
}

.company-director p, .company-ceo p{
  color: #111;
  font-weight: 400;
}

.company-director h2{
  color: #1B1A1A;
  font-size: 1.5rem;
}

.mission-vision{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission{
  width: 500px;
}

.vision{
  padding-top: 20px;
}

.values{
  padding-top: 20px;
}

.values ul{
  display: flex;
  justify-content: space-between;
}

.values ul li{
  list-style: none;
  width: 500px;
}

.values ul li h3{
  font-size: 1rem;
}

.values ul li p, .vision p, .mission p{
  color: #1d1d1d;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Work Sans" sans-serif;
}

.modal{
  background-color: #ddd;
  width: 180px;
  position: absolute;
  left: 80%;
  top: 20%;
  border-radius: 10px;
  z-index: 999999;
}

.modal ul li{
  list-style: none;
  padding: 8px 5px;
  color: #1d1d1d;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.modal ul{
  margin: 0;
  padding: 4px 0;
}

.modal ul li:hover{
  background-color: #262838;
  color: #fff;
  cursor: pointer;
}

.social-links ul li{
  list-style: none;
}

.social-links ul li img{
  width: 25px;
  margin: 0 10px;
}

.property-size{
  border-right: 1px solid #868686;
  padding-right: 120px;
}

.hamburger{
  display: none;
  padding: 0 20px;
}

.hamburger .hamburg-menu{
  cursor: pointer;
}

.hamburger .hamburg-menu span{
  height: 2px;
  background-color: #25D366;
  transition: all .3s;
  display: block;
}

.hamburg-menu .h-top{
  width: 30px;
}

.hamburg-menu .h-middle{
  margin: 5px 0;
  width: 25px;
}

.hamburg-menu .h-bottom{
  width: 27px;
}

.mini-links{
  display: none;
}

.modal1{
  display: none;
}

.mini-links{
  display: none;
}

.mini-links ol{
  display: none;
}

/* Responsiveness */

@media all and (max-width: 480px) {
  .container header .head{
    display: none;
  }
  .hero-container .properties .property-hide{
    display: none;
  }
  .hero-container{
    padding: 30px 10px;
  }
  .hero-container .properties .property{
    margin: 0 10px;
  }
  .hero-container .properties .property img{
    width: 200px;
    height: 150px;
  }
  .about-container .about-img img{
    display: none;
  }
  .about-container .about-content{
    width: 100%;
  }
  .about-container{
    padding: 40px 20px;
  }
  .about-container .about-content h1{
    font-size: 1.5rem;
  }
  .cta-container{
    padding: 30px 0;
  }
  .cta-container ul{
    padding: 20px 0;
  }
  .cta-container ul li{
    margin: 10px 10px;
  }
  .cta-container ul li p{
    line-height: 20px;
  }
  .footer-container .footer-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 10px;
    color: #fff;
    justify-content: center;
    align-items: center;
  }  
  .footer-container .footer-top{
    width: 100%;
  }
  .footer-content .footer-centre{
    text-align: center;
  }
  .container header .navigation{
    padding: 10px 10px;
  }
  .container header .navigation img{
    width: 150px;
  }
  .container header .navigation ul{
    display: none;
  }
  .contact{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }

  .contact .message textarea, .contact1 .message textarea{
    width: 90%;
    border: 1px solid #ddd;
    height: 200px;
  }
  .contact .contact__dets{
    margin-left: 0;
  }
  .contact form .contact-first input[type='text'], .contact1 form .contact-first input[type='text']{
    margin: 10px 0;
    width: 90%;
  }
  .contact form input[type='submit']{
    float: left;
  }
  .contact .contact__dets ul{
    padding-left: 0;
  }
  .contact form{
    padding-left: 20px;
  }
  .blog-container{
    padding: 10px 0;
  }
  .blog-container h1{
    margin-bottom: 40px;
  }
  .blog-samples .blog{
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blog .blog-content h4{
    display: none;
  }
  .blog-samples .blog img{
    border-radius: 5px;
    width: 300px;
    height: 230px;
    margin-right: 0;
  }
  .blog-content{
    margin-left: 20px;
    width: 330px;
  }
  .blog-samples .blog{
    margin: 10px 15px;
    display: flex;
  }
  .blogpost-container{
    padding: 10px 10px;
  }
  .blogpost img{
    width: 450px;
    height: 300px;
    margin-bottom: 20px;
  }
  .properties-container{
    margin: 30px 20px;
  }
  .properties-container .available{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
    border-radius: 5px;
    margin: 20px 20px;
  }
  .properties-container .available .property-img{
    width: 100%;
  }
  .properties-container .available .property-content{
    width: 100%;
  }
  .properties-container .available .property-content ul{
    margin: 0 10px;
  }
  .property-size{
    border-right: 1px solid #868686;
    padding-right: 30px;
  }
  .actualproperty{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
  }
  .actualproperty-img img{
    width: 420px;
    height: 300px;
    border-radius: 5px;
  }
  .actualproperty-content{
    width: 100%;
    padding-left: 10px;
  }
  .actualproperty-content ul{
    padding-left: 0;
  }
  .hamburger{
    display: block;
  }
  .container header .navigation.expanded ul{
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 50%;
    background-color: #262838;
    height: 100vh;
    transition: width .3s;
    margin-top: 0;
    z-index: 99999;
  }
  .container header .navigation.expanded ul li{
    color: #fff;
    padding-top: 37px;
  }
  .modal ul{
    display: none;
  }
  .mini-links{
    display: block;
  }
  .mini-links ol li{
    padding-top: 0;
  }
  .mini-links ol{
    display: block;
  }
  .values ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .values ul li{
    list-style: none;
    width: 100%;
  }
  .about-section-container .about-section{
    padding: 0 10px;
  }
  .values{
    padding-top: 0;
  }
  .company-ceo, .company-director{
    width: 100%;
  }
  .mission{
    width: 100%;
  }
}

@media all and (min-width: 481px) and (max-width: 768px){
  .container header .head{
    display: none;
  }
  .footer-container .footer-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 10px;
    color: #fff;
    justify-content: center;
    align-items: center;
  }  
  .footer-container .footer-top{
    width: 100%;
  }
  .footer-content .footer-centre{
    text-align: center;
  }
  .container header .navigation{
    padding: 10px 10px;
  }
  .container header .navigation img{
    width: 150px;
  }
  .container header .navigation ul{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .container header .navigation.expanded ul{
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 50%;
    background-color: #262838;
    height: 100vh;
    transition: width .3s;
    margin-top: 0;
    z-index: 99999;
  }
  .container header .navigation.expanded ul li{
    color: #fff;
    padding-top: 37px;
  }
  .modal ul{
    display: none;
  }
  .mini-links{
    display: block;
  }
  .mini-links ol{
    display: block;
  }
  .mini-links ol li{
    padding-top: 0;
  }
  .hero-container .properties .property-hide{
    display: none;
  }
  .hero-container{
    padding: 30px 10px;
  }
  .hero-container .properties .property{
    margin: 0 10px;
  }
  .hero-container .properties .property img{
    width: 250px;
    height: 200px;
  }
  .about-container .about-img img{
    display: none;
  }
  .about-container .about-content{
    width: 100%;
  }
  .about-container{
    padding: 40px 20px;
  }
  .about-container .about-content h1{
    font-size: 1.5rem;
  }
  .contact{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
  }
  .contact .message textarea{
    width: 500px;
    border: 1px solid #ddd;
    height: 200px;
  }
  .contact .contact__dets{
    margin-left: 0;
  }
  .contact form .contact-first input[type='text'],.contact form .contact-first input[type='email']{
    margin: 10px 0;
    width: 500px;
  }
  .contact form input[type='submit']{
    float: left;
  }
  .contact .contact__dets ul{
    padding-left: 0;
  }
  .contact form{
    padding-left: 20px;
  }
  .blog-content{
    width: 480px;
    list-style: none;
  }
  .blogpost-container{
    padding: 10px 10px;
  }
  .blogpost img{
    width: 680px;
    height: 400px;
    margin-bottom: 20px;
  }
  .properties-container{
    margin: 30px 10px;
  }
  .properties-container .available{
    padding: 20px 20px;
    margin: 30px 20px;;
  }
  .properties-container .available .property-img img{
    width: 290px;
    height: 240px;
  }
  .properties-container .available .property-content ul{
    padding-top: 0;
  }
  .actualproperty{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
  }
  .actualproperty-img img{
    width: 500px;
    height: 400px;
    border-radius: 5px;
  }
  .actualproperty-content{
    width: 100%;
    padding-left: 10px;
  }
  .actualproperty-content ul{
    padding-left: 0;
  }
  .company-ceo, .company-director{
    width: 600px;
  }
  .values ul{
    padding: 0;
    margin: 0;
  }
  .values ul li{
    margin: 0 20px;
    width: 100%;
  }
  .about-section-container .about-section{
    padding: 0 10px;
  }
}